@media screen and ( min-width: 0px) {
  .profilePic {
    height: 150px;
    width: 150px;
    border-radius: "20%";
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  }
}

@media screen and ( min-width: 340px) {
  .profilePic {
    height: 300px;
    width: 300px;
    border-radius: "20%";
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  }
}

.customToasts {
  position: fixed;
  bottom: 2%;
  right: 3%;
}

.customContainerWrapper {
  padding-left: 1%;
  padding-top: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customSapId {
  padding-left: 1%;
  font-family: monospace;
  margin-top: 0.6%;
  font-weight: 440;
  font-size: 21px;
  margin-bottom: 0.5%;
}

.customDetails {
  padding-left: 1%;
  font-family: monospace;
  margin-top: 0.5%;
  font-weight: 440;
  font-size: 20px;
  margin-bottom: 3px;
}

.customUploadTag {
  padding-left: 1%;
  font-family: monospace;
  margin-top: 0.5%;
  font-weight: 440;
  font-size: 20px;
  margin-bottom: 0.9%;
}

.customBox {
  padding-left: 1%;
  padding-top: 0.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.customHeading {
  padding-left: 1%;
  color: #8b1300;
  border-bottom: 2px solid lightgray;
  text-transform: uppercase;
  font-family: -webkit-pictograph;
  font-weight: 800;
  font-size: 29px;
  margin-bottom: -22px
}

.customSpan {
  font-weight: 900;
  color: #032a81
}

@media screen and ( min-width: 480px) {
  .profilePic {
    height: 300px;
    width: 300px;
    border-radius: "20%";
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  }
}

@media screen and ( min-width: 768px) {
  .profilePic {
    height: 80%;
    width: 95%;
    border-radius: "20%";
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  }
}

@media screen and ( min-width: 1000px) {
  .profilePic {
    height: 80%;
    width: 100%;
    border-radius: "20%";
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  }
}

@media screen and ( min-width: 1500px) {
  .profilePic {
    height: 80%;
    width: 80%;
    border-radius: "20%";
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  }
}